a {
  color: blue;
  text-decoration: none;
  border: 1px solid blue;
  border-radius: 4px;
  font-weight: bold;
  margin: 0 5px;
}
a.-st-active {
  background-color: silver;
}
.main-nav {
  display: flex;
  justify-content: flex-start;
  border-radius: 8px;
  gap: 15px;
  padding: 20px;
  background: #f5f7fa;
}
